<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <!-- Bagian Subscribe -->
            <div class="col-lg-4 col-md-6 mb-3">
                <h5 class="text-uppercase text-warning mb-2">Subscribe to Our Newsletter</h5>
                <p class="small">Stay updated with our latest promotional offers, new products, and many more!</p>
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter Your Email Address" aria-label="Email Address">
                        <button class="btn btn-outline-warning" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <!-- Bagian Customer Care -->
            <div class="col-lg-2 col-md-6 mb-3">
                <h5 class="text-uppercase text-warning mb-2">Customer Care</h5>
                <ul class="list-unstyled small">
                    <li><a href="#" class="text-light text-decoration-none">Contact Us</a></li>
                    <li><a href="/about" class="text-light text-decoration-none">About Us</a></li>
                </ul>
            </div>
            <!-- Bagian Socials -->
            <div class="col-lg-2 col-md-6 mb-3">
                <h5 class="text-uppercase text-warning mb-2">Socials</h5>
                <ul class="list-unstyled small">
                    <li><a href="https://www.instagram.com/fikriferry_?igsh=a2xtNHN1ZzJram51" class="text-light text-decoration-none">Instagram</a></li>
                </ul>
            </div>
            <!-- Bagian Store Location -->
            <div class="col-lg-4 col-md-6 mb-3">
                <h5 class="text-uppercase text-warning mb-2">Store Location</h5>
                <address class="small">
                    Ds. Jatilawang<br>
                    Rt 02/02, Kabupaten Tegal,<br>
                    Jawa Tengah, Indonesia<br>
                    <a href="tel:+6281327149583" class="text-light text-decoration-none">+62 813 2714 9583</a>
                </address>
            </div>
        </div>
        <!-- Bagian Copyright dan Logo -->
        <div class="row text-center pt-1">
            <div class="col">
                <p class="mb-0 small">&copy; 2025 Luxury Watch Store Powered by <span class="text-warning">ÆGIR</span></p>
            </div>
        </div>
    </div>
</footer>