{% extends 'layouts/base.html' %}
{% block title %}Produk - Bagus Furniture{% endblock %}

{% block content %}
<section>
    <div class="container" style="margin-top: 150px;">
        <div class="row mb-3">
            <div class="col d-flex align-items-center justify-content-between">
                <h3 class="text-dark mb-0">Semua Produk</h3>
                
                {# Tombol ini hanya muncul jika admin yang login #}
                {% if 'loggedin' in session and session.role == 'admin' %}
                    <a href="{{ url_for('add_product') }}" class="btn btn-primary" role="button">Tambah Produk</a>
                {% endif %}
            </div>
        </div>
        <hr>
    </div>

    {# Memanggil file card.html untuk menampilkan semua produk #}
    {% include 'layouts/component/card.html' %}
</section>
{% endblock %}